/* GENERAL STUFF */
:root {
    --red: #990000;
    --blue: #011F5B;
    
    --closed: #CCCCCC;
    --open: #008E00;
    --link: #82AFD3;
    --hover: #be1e1e;
}
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: var(--blue);
}
h1 {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 400;
}
h2 {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
}
h3 {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 400;
}
a {
    color: var(--link);
}
.container {
    position: absolute;
    width: 95%;
    height: 90vh;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45vh;
    margin-left: -47.5%;
}
.hidden {
    display: none;
    width: 0;
}

/* MAIN DIVISIONS */
.titlebox {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    height: 2rem;
}
.logobox {
    height: 110%;
    aspect-ratio: 1 / 1;
    margin-right: 10px;
    margin-top: 0.25rem;
}
.logobox img {
    height:100%;
    transition: 0.3s;
}
/* .logobox img:hover {
    content: url(favicon.ico);
} */
.titles {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.meat {
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.credits {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

/* TABS & WINDOWS */
.tabs {
    position: relative;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.tab {
    position: relative;
    width: calc(100% - 20px);
    height: 40px;
    padding: 12px 10px 8px 10px;
    margin-bottom: 10px;
    border-radius: 10px 0 0 10px;
    background: white;
    color: var(--blue);
    text-align: center;

    cursor: pointer;
}
.inactive {
    background: var(--red);
    color: white;
    transition: 0.3s;
    border-color: var(--red);
}
.inactive:hover {
    background: white;
    color: var(--blue);
}
.window {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    background: white;
    color: var(--blue);
    padding: 25px;
    border-radius: 0 10px 10px 10px;
}

/* CALENDARS */
.calhrs {
    position: relative;
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.calhr {
    /* width: calc(100% - 20px); */
    width: auto;
    height: calc(100% / 25.0);
    margin: -5px 10px 5px 10px;
    font-size: .7rem;
}
.calendar {
    position: relative;
    flex: 1;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    padding: 1px;
    
}
.calcol {
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.calcoltitle {
    width: 100%;
    height: calc(100% / 25.0);
    margin: 1px;
}
.hour {
    width: calc(100% - 2px);
    height: calc(100% / 25.0);
    margin: 1px;
    display: flex;
    flex-direction: column;
}
.halfhour{
    position: relative;
    width: 100%;
    height: 50%;
    background: var(--closed); 
}
.open {
    background: var(--open);
}

/* TICKER */
.ticker {
    position: absolute;
    width: 100%;
    height: 2px;
    margin-left: -1px;
    background: var(--red);
}
.tickerhandle {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: var(--red);
    margin-top: -3px;
    margin-left: -8px;
}